<!Doctype>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 height=device-height">
        <title>{% block title %}Base Page{% endblock %}</title>
        <link href=
              "https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css"
                        rel="stylesheet">
    </head>
    <body class="">

        <!-- Navigation Bar -->
        <nav class="bg-gray-800 shadow p-4 w-full top-0 ">
            <div class="container mx-auto flex flex-nowrap justify-between items-center">
                <a href="/" class="text-black text-lg font-semibold">MyApp</a>
                <div>
                    <a href="/" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Home</a>
                    <a href="/projects" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Projects</a>
                    <a href="/about" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"> About</a>
                    <a href="/contact" class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Contact</a>
                </div>
            </div>
        </nav>

        <div class="mx-auto mt-16">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>